<%= render 'layouts/errors', active_object: @service %>

<div class="container">
  <%= bootstrap_form_with(model: service, local: true) do |form| %>

      <%= form.text_field :name %>
      <%= form.cktext_area :description, ckeditor: { language: 'en'} %>
      <%= form.submit %>
  <% end %>
</div>
