<%= render 'layouts/errors', active_object: @service %>

<div class="container">
  <%= bootstrap_form_with(model: service, local: true) do |form| %>

      <%= form.text_field :name %>
      <%= form.text_area :description %>
      <%= form.submit %>
  <% end %>
</div>
