<%= render 'layouts/errors', active_object: @blog %>

<div class="container">
  <%= bootstrap_form_with(model: blog, local: true) do |form| %>

      <%= form.text_field :title %>
      <%= form.cktext_area :content, ckeditor: { language: 'uk'} %>
      <%= form.collection_check_boxes :service_ids, Service.all, :id, :name, label: "Services" %>
      <%= form.file_field :picture %>
      <%= form.hidden_field :picture_cache %>
      <%= form.check_box :remove_picture %>
      <%= form.submit %>
  <% end %>
</div>
