<h1>Blogs</h1>
<div class="container">
  <div class="card-deck">
    <% @blogs.each do |blog| %>
    <div class="card">
      <img class="card-img-top" src="<%= blog.picture.url %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= blog.title %></h5>
        <p class="card-text"><%= blog.content %></p>
        <p class="card-text"><small class="text-muted">Published by <%= mail_to(blog.user.email) %></small></p>
        <td><%= link_to 'Show More', blog_path(blog) %></td>
      </div>
    </div>
    <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <% end %>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'New Blog Post', new_blog_path %>
<% else %>
<% end %>
