<div class="container">
  <h1>Blogs</h1>
  <% if user_signed_in? %>
    <%= link_to 'New Blog Post', new_blog_path %>
  <% else %>
  <% end %>
  <div class="card-deck">
    <% @blogs.each do |blog| %>
    <div class="card">
      <img class="card-img-top" src="<%= blog.picture.url %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= blog.title %></h5>
        <p class="card-text"><%= blog.content %></p>
        <p class="card-text"><small class="text-muted">Published by <%= mail_to(blog.user.email) %></small></p>
        <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(blog.updated_at) %> ago</small></p>
        <p><%= link_to('Show More', blog_path(blog) , class: "btn btn-primary") %></p>
        <% if user_signed_in? %>
            <p><%= link_to 'Edit', edit_blog_path(blog) %></p>
            <p><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% else %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
