<%= render 'layouts/errors', active_object: @lead %>

<div class="container col-xl-2 offset-xl-5">
  <%= bootstrap_form_with(model: lead, local: true) do |form| %>

      <%= form.text_field :first_name, label: 'Nombre' %>
      <%= form.text_field :last_name, label: 'Apellido' %>
      <%= form.select :language, ['English', 'Spanish'], label: 'Idioma'%>
      <%= form.number_field :phone, label: 'Telefono' %>
      <%= form.text_field :email, label: 'Correo electronico' %>
      <%= form.text_area :issue, label: 'Describa su caso' %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#clientRelationshipMessage">
        Enviar
      </button>

      <!-- Modal -->
      <div class="modal fade" id="clientRelationshipMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
            </div>
            <div class="modal-body">
              <p>El envio de este formulario no establece una relación abogado/cliente</p>
            </div>
            <div class="modal-footer">
                    <%= form.submit "Ok" %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
