<%= render 'layouts/errors', active_object: @lead %>

<div class="container">
  <%= bootstrap_form_with(model: lead, local: true) do |form| %>

      <%= form.text_field :first_name, label: 'Nombre' %>
      <%= form.text_field :last_name, label: 'Apellido' %>
      <%= form.select :language, [ 'Spanish', 'English'], :prompt => 'Elige un idioma', label: 'Idioma'%>
      <%= form.number_field :phone, label: 'Telefono' %>
      <%= form.text_field :email, label: 'Correo electronico' %>
      <%= form.text_area :issue, label: '¿Cómo podemos ayudarle?' %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target=".clientRelationshipMessage">
        Enviar
      </button>
      <br>

      <!-- Modal -->
      <div class="collapse clientRelationshipMessage">
        <div class="card card-body client-message">
          <p>El envio de este formulario no establece una relación abogado/cliente</p>
          <%= form.submit "Ok" %>
        </div>
      </div>
  <% end %>
</div>
