<%= render 'layouts/errors', active_object: @video %>

<div class="container">
  <%= bootstrap_form_with(model: video, local: true) do |form| %>

      <%= form.text_field :title %>
      <%= form.text_field :url %>
      <%= form.collection_check_boxes :service_ids, Service.all, :id, :name, label: "Services" %>
      <%= form.submit %>
  <% end %>
</div>
