<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<iframe width="560" height="315" src="<%= @video.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>

<p>
<strong>Tags:</strong>
</p>
<% @video.services.each do |service| %>
  <%= service.name %>
<% end %>
<br>
<p>
  <strong>Author:</strong>
  <%= @video.user.email %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_video_path(@video) %> |
<% else %>
<% end %>

<%= link_to 'Show all videos', videos_path %>
