<%= render 'layouts/errors', active_object: @lead %>

<div class="container">
  <%= bootstrap_form_with(model: lead, local: true) do |form| %>

      <%= form.text_field :first_name %>
      <%= form.text_field :last_name %>
      <%= form.select :language, ['English', 'Spanish'], toggle: true%>
      <%= form.phone_field :phone %>
      <%= form.email_field :email %>
      <%= form.text_area :issue, label: 'Describe your case' %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#clientRelationshipMessage">
        Submit
      </button>
      <!-- Modal -->
      <div class="collapse" id="clientRelationshipMessage">
        <div class="card card-body client-message">
          <p>The submission of this form does not establish a lawyer-client relationship</p>
          <%= form.submit "Ok" %>
        </div>
      </div>
  <% end %>
</div>
