<div class="container">
  <div class="jumbotron jumbotron-fluid bg-secondary m-0 about-jumbo">
    <div class="container text-left text-white">
      <h1 class="display-4 text-center">About Workplace Legal</h1>
      <br>
      <!-- <p class="lead text-white">
        Workplace Lawyer, Antonio F. Urdaneta <strong>advises and represents employers and
        employees</strong> about and/in employment standards, human rights, health and safety, pay equity,
        harassment, discrimination, violence, hazards, privacy, BYOD, agreements, contracts and
        policies, employment related ADRs (mediation, arbitration), and litigation (wrongful/constructive
        dismissals). He has successfully represented and assisted clients at the Superior Court of
        Justice and administrative tribunals.
      </p>
      <p class="lead text-white">
        He <strong>conducts workplace investigations</strong> about allegations of violence, harassment,
        discrimination, accidents/incidents, theft and failure to comply with company policies, by-laws
        and collective agreements.
      </p> -->
      <p>Lawyer, Antonio F. Urdaneta is the thought leader behind Workplace Legal.&nbsp; A marathon runner
        who improves the #work #climate and empowers business leaders, entrepreneurs, managers, supervisors
        and human resources professionals to reduce the inherent threats of workplace relations by providing
        innovative training, advisory, investigations, and litigation services.&nbsp; Antonio uses coaching
        tools and skills to inform, advice and represent workplaces in their virtual and physical challenges,
        including business transformation and managing toxic leadership.
      </p>
      <p>His work includes employment standards, human rights, health and safety, pay equity, harassment,
        discrimination, violence, hazards, privacy, BYOD, agreements, contracts and policies, employment
        related ADRs (mediation, arbitration), and litigation (wrongful/constructive dismissals).&nbsp; He
        has successfully represented and assisted clients at the Superior Court of Justice and administrative
        tribunals in Ontario.
      </p>
      <p>He conducts workplace investigations about allegations of violence, harassment, discrimination,
        accidents/incidents, theft and failure to comply with company policies, by-laws and collective agreements.
      </p>
      <p>Antonio is an active member of:</p>
      <ul id="membership-list">
        <li>
          <%= link_to 'Law Society of Ontario', 'https://lso.ca/', class: 'text-white', target: :_blank %>,
          <%= link_to 'Lawyer', 'https://lso.ca/public-resources/finding-a-lawyer-or-paralegal/directory-search/members/lawyer/030/antonio-franco-urdaneta-alvarez', class: 'text-white', target: :_blank %>
        </li>
        <li>
          <%= link_to 'Canadian Hispanic Bar Association', 'https://chbalegal.com/', class: 'text-white', target: :_blank %>,
          <%= link_to 'Board of Directors, Memberships', 'https://chbalegal.com/about-us/', class: 'text-white', target: :_blank %>
        </li>
        <li>
          <%= link_to "Toronto Region Immigrants Employment Council's", 'http://triec.ca/', class: 'text-white', target: :_blank %>,
          <%= link_to 'PINs Advisory Committee', 'http://triec.ca/pins/antonio-urdaneta/', class: 'text-white', target: :_blank %>
        </li>
        <li>
          <%= link_to 'Ontario Bar Association', 'https://www.oba.org/Home', class: 'text-white', target: :_blank %>, member
        </li>
        <li>
          <%= link_to 'Canadian Bar Association', 'https://www.cba.org/Home', class: 'text-white', target: :_blank %>, member
        </li>
        <li>
          Internationally Trained Lawyers Network, Canada
        </li>
        <li>
          <%= link_to 'Colegio de Abogados del Estado Zulia', 'https://abogadoszulia.org.ve/', class: 'text-white', target: :_blank %>, Attorney
        </li>
      </ul>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid bg-white m-0">
    <div class="container text-center">
      <h1 class="display-4">Mission</h1>
      <p class="lead">“To leverage the legal system to shape wealthy and healthy workplaces”</p>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid bg-secondary m-0">
    <div class="container text-center text-white">
      <h1 class="display-4">Vision</h1>
      <p class="lead">“A positive lifetime experience with the law at the workplace”</p>
    </div>
  </div>
</div>
