<footer class="footer navbar navbar-light bg-light">
  <p>
    <%= link_to "Terms of Use", terms_of_use_index_path %>
  </p>
<address>

  | T. <a href="tel:+1-647-381-5323">(647) 381-5323</a> | F. (647) 695-6993
  <br>
  | <%= mail_to "antonio@workplacelegal.ca" %>
  <br>
  | <%= link_to "80 Kincort St, 2nd Floor, Toronto, ON M6M 5G1", 'https://www.google.com/maps/place/80+Kincort+St+2nd+Floor,+York,+ON+M6M+5G1/@43.6993539,-79.471962,17z/data=!3m1!4b1!4m5!3m4!1s0x882b33e20e561ae9:0x824d444fc42e4ad9!8m2!3d43.6993539!4d-79.4697733', target: :_blank %>
  <br>
  | <%= link_to "www.workplacelegal.ca" %>
  <br>
  | Follow us:
    <%= link_to(icon('fab', 'twitter-square', class: 'icons'), "https://twitter.com/antophranco", 'aria-label': "Go to my twitter account", target: :_blank, data: { confirm: "You are about to leave this site, do you want to continue?" }) %>
    <%= link_to(icon('fab', 'linkedin', class: 'icons'), "https://www.linkedin.com/in/antonio-f-urdaneta-92299a32/", 'aria-label': "Go to my linkedin account", target: :_blank, data: { confirm: "You are about to leave this site, do you want to continue?" }) %>
</address>

</footer>
