<footer class="footer navbar navbar-light bg-light">
  <p>
    <%= link_to "Terms of Use", terms_of_use_index_path %>
  </p>
<address>

  | T. <a href="tel:+1-647-381-5323">(647) 381-5323</a> | F. (647) 695-6993
  <br>
  | <%= mail_to "antonio@workplacelegal.ca" %>
  <br>
  | <%= link_to "330 Bay Street, Suite 1400, Toronto, ON M5H 2S8", 'https://goo.gl/maps/QgVvDYzqE1euesDh9', target: :_blank %>
  <br>
  | <%= link_to "www.workplacelegal.ca" %>
  <br>
  | Follow us:
    <%= link_to(icon('fab', 'twitter-square', class: 'icons'), "https://twitter.com/antophranco", 'aria-label': "Go to my twitter account", target: :_blank, data: { confirm: "You are about to leave this site, do you want to continue?" }) %>
    <%= link_to(icon('fab', 'linkedin', class: 'icons'), "https://www.linkedin.com/in/antonio-f-urdaneta-92299a32/", 'aria-label': "Go to my linkedin account", target: :_blank, data: { confirm: "You are about to leave this site, do you want to continue?" }) %>
</address>

</footer>
